/*
  Site Name: Secret Spices
  Theme URL: https://themeforest.net/user/jthemes
  Description: Add custom styles to the site
  Author: K-SOFT
  Author URL: https: //k-soft.tech/
  Version: 1.0.0
*/




/* ==========================================================================
  01. GENERAL & BASIC STYLES
  =========================================================================== */

  .flexbox-horizontal-line {
    
  }