/*
  Site Name: Secret Spices
  Theme URL: https://themeforest.net/user/jthemes
  Description: Add custom styles to the site
  Author: K-SOFT
  Author URL: https: //k-soft.tech/
  Version: 1.0.0
*/
/* ==========================================================================
  FRANK NYAWA SECTIONS
  =========================================================================== */

  .footer-division{
    background-color: #c70609;
    padding-top: 10px;
    color: #ffffff;

}
.foot2{
    padding-top: 80px;
    margin-left: 0px;
}
.foot3{
    padding-top: 80px;
}
.slogan{
    font-size: medium;
    font-weight: bolder;
}

.donnee{
    color: #ffffff;
    text-align: left;
}
.donnee:hover{
    color: #fde0a5;
    text-align: left;
}
.about{
    color: #ffffff;
}
.about:hover{
    color: #fde0a5;
}
.mention{
    color: #ffffff;
}
.mention:hover{
    color: #fde0a5;
}

.sanitaire{
    color: #ffffff;
}

.sanitaire:hover{
    color:#fde0a5;
}

.contact{
    color: #ffffff;
}
.contact:hover{
    color: #fde0a5;
}
i{
    color: #fde0a5;
}
.ico-instagram{
    margin-left: 25px;
}

.blocfooter{
    background-color: black;
    color: #ffffff;
    padding: 30px;
    width: 100%;
    justify-content: center;

}
.footer-copyright{
    text-align: center;
}


/* ==========================================================================
  FRANK ZOHIM SECTIONS
  =========================================================================== */






  .horizontal-line {
    background-color: #c70609;
    height: 15px;
    width: 200px;
    margin-left: 10px;
}

.no-caption-txt {
    margin-top: 15px;
    margin-left: 10px;
    text-transform: unset;
    font-size: 30px;
}

.testimonial-title{
  color: #c70609;
}

.testimonials-slider {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    align-content: center;
    vertical-align: middle;
}



.color-white{
  color: #fff;
}



  /*  Section Martin*/

  .vertical-line{

    background-color: #c70609;
    height: 3.4rem;;
    width:0.5rem;
    margin-left: 10px;
  }

  .bag-primary{
    background-color: #c70609;
  }


    @media screen and (max-width: 600px) {
      .horizontal-line{
        margin-left: 90px;
      }
    }




.single-testimonial {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

.testimonial-arrow {
    flex: 1;
    flex-direction: column;
    align-items: space-between;
    vertical-align: middle;
}

.author-picture {
}

.author-title {
    font-size: 20px;
    font-weight: bold;
}

.author-testimonial {
    text-align: center;
    font-size: 15px;
}


@media screen and (max-width: 600px) {
    .horizontal-line {
        margin-left: 90px;
    }
    #carouselExampleControls{
      display: none;
    }
}

@media screen and (min-width: 600px) {

  #carouselExampleControls1 {
    display: none;
  }
}

