/*
  Site Name: Secret Spices
  Theme URL: https://themeforest.net/user/jthemes
  Description: Add custom styles to the site
  Author: K-SOFT
  Author URL: https: //k-soft.tech/
  Version: 1.0.0
*/




/* ==========================================================================
  FRANK SECTIONS 
  =========================================================================== */


  .horizontal-line {
    background-color: #c70609; 
    height:15px; 
    width:200px;
    margin-left: 10px;
  }

  .no-caption-txt{
    margin-top: 15px;
    margin-left: 10px;
    text-transform: unset;
    font-size: 30px;

  }

  .testimonials-slider{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 20px; 
    margin-right : 20px;
    align-content: center;
    vertical-align: middle;
  }

  .single-testimonial{
    flex: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .testimonial-arrow{
    flex:1;
    flex-direction: column;
    align-items: space-between;
    vertical-align: middle;
  }

  .author-picture{
    border-radius: 50%;
  }

  .author-title {
       font-size: 25px;
       font-weight: bold;
    }

  .author-testimonial {
       text-align: center;
       font-size: 18px;
     }

    @media screen and (max-width: 600px) {
      .horizontal-line{
        margin-left: 90px;
      }
    }