@font-face {
    font-family: ubuntu_regular;
    src: url(../fonts/UBUNTU-REGULAR.TTF);
  }

  @font-face {
    font-family: ubuntu_bold;
    src: url(../fonts/UBUNTU-BOLD.TTF);
  }

  @font-face {
    font-family: costyle;
    src: url(../fonts/COSTYLE.TTF);
  }
